

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1 style="color:red">@ViewBag.Nombre</h1>

    @Html.ActionLink("Ir a Médicos","Index","Medico")
</body>
</html>
