@model SLNClinica.Models.Medico;

@{
    ViewData["Title"] = "Detail";
}
    <h2>@Html.DisplayFor(modelItem=>modelItem.Nombre)</h2>
            <h2>@Html.DisplayFor(modelItem=>modelItem.Apellido)</h2>
            <h2>@Html.DisplayFor(modelItem=>modelItem.Matricula)</h2>
    

    @Html.ActionLink("Volver al index","Index","Medico")
